<div class="container view bg-white p-5" xmlns:th="http://www.thymeleaf.org" th:object="${viewModel}">
    <h2 th:text="|Medical Record: *{firstName} *{lastName}|"></h2>
    <p th:text="|EGN: *{egn}|"></p>
    <hr class="bg-info hr-2">
    <div class="row">
        <div class="col-md-12">
            <h3>Results</h3>
            <th:block th:each="result : *{bloodResults}">
                <div class="card">
                    <div class="card-body">
                        <h4 th:text="#{result.blood}"></h4>
                        <p th:text="|from ${result.date} ${result.time}|"></p>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/results/{id}(id=${result.id})}" class="btn btn-link">View Result</a>
                    </div>
                </div>
                <hr>
            </th:block>
            <th:block th:each="result : *{irmResults}">
                <div class="card">
                    <div class="card-body">
                        <h4 th:text="#{result.irm}"></h4>
                        <p th:text="|from ${result.date} ${result.time}|"></p>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/results/{id}(id=${result.id})}" class="btn btn-link">View Result</a>
                    </div>
                </div>
                <hr>
            </th:block>
        </div>
    </div>
</div>